Привет! Я Сайга, бот с разными языковыми моделями.
Текущая модель: {{model}}
Осталось сообщений: {{message_count}}

Лимиты:
{{sub_limits}}

Доступные команды:
/help - вызов этого сообщения
/reset - очистить историю сообщений с ботом
/setmodel - выбрать модель
/getmodel - узнать текущую модель
/setcharacter - задать персонажа
/setsystem ... - задать системный промпт, нужно писать в этом же сообщении
/getsystem - узнать текущий системный промпт
/resetsystem - сбросить системный промпт к стандартному
/setshortname ... - задать имя бота, нужно писать в этом же сообщении
/getshortname - узнать имя ботя
/getcount - узнать текущий лимит сообщений
/getparams - узнать текущие параметры генерации
/settemperature - задать температуру
/subinfo - информация о текущей подписке
/subbuy - купить подписку
/setemail ... - задать e-mail, чтобы купить подписку, нужно писать в этом же сообщении
/tools - включить/выключить инструменты (плагины)
/paysupport - узнать о возврате денег за подписку
/privacy - политика конфиденциальности

Инструменты, доступные для gpt-4o и claude-3-5-sonnet:
- Поиск в интернете
- Чтение страниц в интернете
- Текущая дата и время
- Генерация изображений с DALL-E
- Интерпретатор Python

Исходники: [saiga_bot](https://github.com/IlyaGusev/saiga_bot)
Модель по умолчанию: [saiga_llama3_8b](https://huggingface.co/IlyaGusev/saiga_llama3_8b)

По всем вопросам писать @{{admin_username}}
