Политика конфиденциальности

- Мы сохраняем все личные сообщения, которые вы отправляете боту.
- В групповых чатах мы сохраняем все сообщения с момента добавления бота в чат.
- Собранные сообщения могут быть использованы для обучения языковых моделей.
- Перед использованием все данные анонимизируются.
- Анонимизированные версии сохранённых сообщений могут быть опубликованы в открытом доступе.
- Вы имеете право запросить удаление ваших сообщений из нашей базы данных и из публичного доступа, для этого свяжитесь с @{{admin_username}}.
