*Покупка подписки в боте 'Сайга'*

Лимиты общения с моделями станут такими:
{{sub_limits}}

Подписка будет действовать ровно 7 дней для подписки на неделю и ровно 31 день для подписки на месяц.

Цена подписки: *{{price_week}} рублей* за неделю и *{{price_month}} рублей* за месяц
