MarkdownTableOfContents {
    width: 20%;
}

IndexInput {
    layout: horizontal;
    height: 3;
    margin: 1 1;
}

IndexInput Input {
    width: 1fr;
    margin-right: 1;
}

IndexInput Button {
    width: auto;
}
