MarkdownTableOfContents {
    width: 20%;
}

Input {
    width: 1fr;
    margin-right: 1;
    layout: horizontal;
}

#loading {
    width: 100%;
    height: 100%;
    content-align: center middle;
    background: $surface;
    color: $text;
    text-style: bold;
}

#meta {
    text-align: center;
}
